<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Енергетика: админка</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
    <div class="container theme-showcase">
        <h1>{{err.msg}}</h1>
        <h2>Status: {{status}}</h2>
        <pre>Extra: {{err.extra}}</pre>
        <pre>{{err.stack}}</pre>
    </div>
</body>
</html>
